Basic input and output

In [1]:
print("Hello world2!")

Hello world2!

In [5]:
print("Hello,", "John!", "How are you?")

Hello, John! How are you?

In [7]:
print(1, "plus", 2, "equals", 1+2)

1 plus 2 equals 3

In [11]:
name=input("Give me your name: ")
print("Hello,", name)

Give me your name:  Lukas

Hello, Lukas

Indentation

In [13]:
for i in range(3):
    print("Hello")
print("Bye!")

Hello
Hello
Hello
Bye!

In [17]:
for i in range(3):
    print (i, "Hello")
print("Bye!")

0 Hello
1 Hello
2 Hello
Bye!

Exercise 1.1 (hello world)

In [145]:
# Everything after a hash sign (#) is considered a comment in Python

# The print statement could be written on the top-level (zero indentation),
# but here we have put it inside the main function.
# This enables TestMyCode (TMC) framework to work correctly.

# In more complicated programs it is good practise not to clutter the top-level of the program
# by using a main function as here.

def main():
    print("Hello, world!") # Enter your code here, this is the correct indentation

# This makes sure the main function is not called immediatedly
# when TMC imports this module
if __name__ == "__main__": 
    main()

Hello, world!

Exercise 1.2 (compliment)

In [143]:
def main():
    country = input("What country are you from? ")
    print("I have heard that", country, "is a beautiful country.")


if __name__ == "__main__":
    main()

What country are you from?  United States

I have heard that United States is a beautiful country.

Exercise 1.3 (multiplication)

In [141]:
def main():
    for i in range(11):
        print("4 multiplied by", i, "is", 4*i)

if __name__ == "__main__":
    main()

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

Variables and data types

In [21]:
a = 1
print(a)

1

In [23]:
type(a)

int

In [25]:
a = "some text"
type(a)

str

In [27]:
i = 5
f = 1.5
b = i == 4
print("Result of the comparison:", b)
c = 0 + 2j # j denotes imaginary unit of complex numbers
print("Complex multiplication:", c * c)
s = "conca" + "tenation"
print(s)

Result of the comparison: False
Complex multiplication: (-4+0j)
concatenation

In [ ]:
print(int(-2.8))
print(float(2))
print(int("123"))
print(bool(-2), bool(0)) # zero is interpreted as false
print(str(234))

In [38]:
b = "Ã¤".encode("utf-8") # converts character to sequence of bytes
print(b) # prints bytes in hexidecimal notation
print(list(b)) # prints bytes in decimal notation

b'\xc3\xa4'
[195, 164]

Creating strings

In [41]:
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

In [45]:
s = """A string
spanning over
several lines"""
print(s)

A string
spanning over
several lines

In [47]:
a = "first"
b = "second"
print(a + b)
print(" ".join([a, b, b, a]))

firstsecond
first second second first

In [51]:
print(str(1) + " plus " + str(3) + " is equal to " + str(4))
# slightly better
print(1, "plus", 3, "is equal to", 4)

1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [55]:
print("%i plus %i is equal to %i" % (1, 3, 4)) # format syntax
print("{} plus {} is equal to {}".format(1, 3, 4)) # format method
print(f"{1} plus {3} is equal to {4}") # f-string

1 plus 3 is equal to 4
1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [57]:
print("%s concatenated with %s produces %s" % ("water", "melon", "water" + "melon"))
print("{0} concatenated with {1} produces {0}{1}".format("water", "melon"))
print(f"{'water'} concatenated with {'melon'} produces {'water' + 'melon'}")

water concatenated with melon produces watermelon
water concatenated with melon produces watermelon
water concatenated with melon produces watermelon

Expressions

Statements

In [61]:
i = 5
i = i + 1 # common idiom to increment the value of i by one
i += 1 # short-hand for above

Loops for repetitive tasks

In [64]:
i = 1
while i * i < 1000:
    print("Square of", i, "is", i * i)
    i = i + 1
print("Finished printing all the squares below 1000.")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361
Square of 20 is 400
Square of 21 is 441
Square of 22 is 484
Square of 23 is 529
Square of 24 is 576
Square of 25 is 625
Square of 26 is 676
Square of 27 is 729
Square of 28 is 784
Square of 29 is 841
Square of 30 is 900
Square of 31 is 961
Finished printing all the squares below 1000.

In [66]:
s = 0
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    s = s + i
print("The sum is", s)

The sum is 45

Exercise 1.4 (multiplication table)

In [134]:
def main():
    for i in range(1,11):
        for j in range(1,11):
            print('{:4d}'.format(i * j), end="")
        print() # new line after each row

if __name__ == "__main__":
    main()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

Decision making with the if statement

In [3]:
x = input("Give an integer: ")
x = int(x)
if x >= 0:
    a = x
else:
    a = -x
print("The absolute value of %i is %i" % (x, a))

Give an integer:  -1

The absolute value of -1 is 1

In [5]:
c = float(input("Give a number: "))
if c > 0:
    print("c is positive")
elif c < 0:
    print("c is negative")
else:
    print("c is zero")

Give a number:  3

c is positive

Breaking and continuing loop

In [8]:
l = [1, 3, 65, 3, -1, 56 ,-10]
for x in l:
    if x < 0:
        break
print("The first negative list item was", x)

The first negative list item was -1

In [68]:
from math import sqrt, log
l = [1, 3,65 ,3, -1, 56, -10]
for x in l:
    if x < 0:
        continue # stop current iteration and continue to next
    print(f"Square root of {x} is {sqrt(x):.3f}")
    print(f"Natural logarithm of {x} is {log(x):.4f}")

Square root of 1 is 1.000
Natural logarithm of 1 is 0.0000
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 65 is 8.062
Natural logarithm of 65 is 4.1744
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 56 is 7.483
Natural logarithm of 56 is 4.0254

Exercise 1.5 (two dice)

In [131]:
def main():
    for i in range(1,7):
        for j in range(1,7):
            if i + j != 5:
               continue
            print(f"({i},{j})")

if __name__ == "__main__":
    main()

(1,4)
(2,3)
(3,2)
(4,1)

Functions

In [15]:
def double(x):
    "This function multiplies its argument by two."
    return x * 2
print(double(4), double(1.2), double("abc")) # it even works for strings

8 2.4 abcabc

In [17]:
print("The docstring is:", double.__doc__)
help(double) # another way to access docstring

The docstring is: This function multiplies its argument by two.
Help on function double in module __main__:

double(x)
    This function multiplies its argument by two.

In [19]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [21]:
def sum_of_squares(a, b):
    "Computes the sum of arguments squared"
    return a**2 + b**2
print(sum_of_squares(3, 4))

25

In [39]:
def sum_of_squares(lst):
    "Computes the sum of squares of elements in the list given as a parameter"
    s = 0
    for x in lst:
        s += x**2
    return s
print(sum_of_squares([-2]))
print(sum_of_squares([-2, 4, 5]))

4
45

In [45]:
def sum_of_squares(*t): # tuples are immutable lists
    "Computes the sum of squares of arbitrary number of arguments"
    s = 0
    for x in t:
        s += x**2
    return s
print(sum_of_squares(-2))
print(sum_of_squares(-2, 4, 5))

4
45

In [51]:
lst = [1, 5, 8]
print("With list unpacked as arguments to the functions:", sum_of_squares(*lst))
# print(sum_of_squares(lst)) # does not work correctly

With list unpacked as arguments to the functions: 90

In [57]:
def named(a, b, c):
    print("First:", a, "Second:", b, "Third:", c)
named(5, c=7, b=8)

First: 5 Second: 8 Third: 7

In [59]:
print(1, 2, 3, end=' |', sep=' -*- ')
print("first", "second", "third", end=' |', sep=' -*- ')

1 -*- 2 -*- 3 |first -*- second -*- third |

In [65]:
def length(*t, degree = 2):
    """Comptues the length of the vector given as parameter. By default, it computes
    the Euclidean distance (degree==2)"""
    s = 0
    for x in t:
        s += abs(x)**degree
    return s**(1/degree)
print(length(-4, 3))
print(length(-4, 3, degree = 3))

5.0
4.497941445275415

Visibility of variables

In [70]:
i = 2        # global variable
def f():
    i = 3    # this creates a new variable, it does not rebind the global i
    print(i) # this will print 3
f()
print(i)

3
2

In [74]:
i = 2
def f():
    global i
    i = 5    # rebind the global i variable
    print(i) # this will print 5
f()
print(i)     # this will print 5

5
5

In [80]:
def f():             # outer function
    b = 2
    def g():         # inner function
        # nonlocal b # without this nonlocal statement,
        b = 3        # this will create a new local variable
        print(b)
    g()
    print(b)
f()

3
2

Exercise 1.6 (triple square)

In [128]:
def triple(i):
    return i*3
def square(i):
    return i**2

def main():
    for i in range(1,11):
        tr = triple(i)
        sq = square(i)
        if sq > tr:
            break
        print(f"triple({i})=={tr}", f"square({i})=={sq}")

if __name__ == "__main__":
    main()

triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
triple(3)==9 square(3)==9

Exercise 1.7 (area of shapes)

In [126]:
import math

def shape():
    while choice := input("Choose a shape (triangle, rectangle, circle):"):
        if choice == "triangle":
            base = input("Give base of the triangle:")
            height = input("Give height of the triangle:")
            print(f"The area is {0.5 * float(base) * float(height)}")
        elif choice == "rectangle":
            width = input("Give width of the rectangle:")
            height = input("Give height of the rectangle:")
            print(f"The area is {float(width) * float(height)}")
        elif choice == "circle":
            radius = input("Give radius of the circle:")
            print(f"The area is {math.pi * (float(radius)**2)}")
        else:
            print("Unknown shape!")

def main():
    shape()

if __name__ == "__main__":
    main()

Choose a shape (triangle, rectangle, circle):

Data Structures

Sequences

In [83]:
[2, 100, "hello", 1.0]

[2, 100, 'hello', 1.0]

In [85]:
s = "abcdefg"
s[1:4]

'bcd'

In [87]:
print([0, 1, 2, 3, 4, 5, 6, 7, 8, 9][::3])

[0, 3, 6, 9]

Exercise 1.8 (solve quadratic)

In [119]:
import math

def solve_quadratic(a, b, c):
    x1 = (-float(b) + math.sqrt(float(b)**2 - 4*float(a)*float(c)))/(2*float(a))
    x2 = (-float(b) - math.sqrt(float(b)**2 - 4*float(a)*float(c)))/(2*float(a))
    return (x1,x2)


def main():
    print(solve_quadratic(1, -3, 2))
    print(solve_quadratic(1, 2, 1))

if __name__ == "__main__":
    main()

(2.0, 1.0)
(-1.0, -1.0)

Modifying lists

In [90]:
L = [11, 13, 22, 32]
L[2] = 10 # changes the third element
print(L)

[11, 13, 10, 32]

In [92]:
L[1:3] = [4]
print(L)

[11, 4, 32]

Generating numerical sequences

In [100]:
L = range(3)
for i in L:
    print(i)
# note that L is not a list!
print(L)

0
1
2
range(0, 3)

In [102]:
L = range(10)
print(list(L))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
print(list(range(0, 7, 2)))

[0, 2, 4, 6]

Sorting sequences

In [107]:
L = [5, 3, 7, 1]
L.sort() # here we call the sort method of the object L
print(L)
L2 = [6, 1, 7, 3, 6]
print(sorted(L2))
print(L2)

[1, 3, 5, 7]
[1, 3, 6, 6, 7]
[6, 1, 7, 3, 6]

In [109]:
L = [5, 3, 7, 1]
print(sorted(L, reverse=True))

[7, 5, 3, 1]

Exercise 1.9 (merge)

In [116]:
def merge(L1, L2):
    i1 = 0
    i2 = 0
    merged = []
    while i1 + i2 < len(L1) + len(L2):
        if i2 == len(L2) or i1 < len(L1) and L1[i1] < L2[i2]:
            merged.append(L1[i1])
            i1 += 1
        else:
            merged.append(L2[i2])
            i2 += 1
    return merged
        
        
def main():
    L1 = [0, 4, 8, 12, 15]
    L2 = [1, 3, 5, 7, 9]
    print(merge(L1, L2))
    L1 = [12, 34, -31, 43, 16]
    L2 = [0, 5, 37, 12, -21]
    print(merge(sorted(L1),sorted(L2)))


if __name__ == "__main__":
    main()

[0, 1, 3, 4, 5, 7, 8, 9, 12, 15]
[-31, -21, 0, 5, 12, 12, 16, 34, 37, 43]

Exercise 1.10 (detect ranges)