Basic input and output

In [1]:
print("Hello world2!")

Hello world2!

In [5]:
print("Hello,", "John!", "How are you?")

Hello, John! How are you?

In [7]:
print(1, "plus", 2, "equals", 1+2)

1 plus 2 equals 3

In [11]:
name=input("Give me your name: ")
print("Hello,", name)

Give me your name:  Lukas

Hello, Lukas

Indentation

In [13]:
for i in range(3):
    print("Hello")
print("Bye!")

Hello
Hello
Hello
Bye!

In [17]:
for i in range(3):
    print (i, "Hello")
print("Bye!")

0 Hello
1 Hello
2 Hello
Bye!

Exercise 1.1 (hello world)

In [145]:
# Everything after a hash sign (#) is considered a comment in Python

# The print statement could be written on the top-level (zero indentation),
# but here we have put it inside the main function.
# This enables TestMyCode (TMC) framework to work correctly.

# In more complicated programs it is good practise not to clutter the top-level of the program
# by using a main function as here.

def main():
    print("Hello, world!") # Enter your code here, this is the correct indentation

# This makes sure the main function is not called immediatedly
# when TMC imports this module
if __name__ == "__main__": 
    main()

Hello, world!

Exercise 1.2 (compliment)

In [143]:
def main():
    country = input("What country are you from? ")
    print("I have heard that", country, "is a beautiful country.")


if __name__ == "__main__":
    main()

What country are you from?  United States

I have heard that United States is a beautiful country.

Exercise 1.3 (multiplication)

In [141]:
def main():
    for i in range(11):
        print("4 multiplied by", i, "is", 4*i)

if __name__ == "__main__":
    main()

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

Variables and data types

In [21]:
a = 1
print(a)

1

In [23]:
type(a)

int

In [25]:
a = "some text"
type(a)

str

In [27]:
i = 5
f = 1.5
b = i == 4
print("Result of the comparison:", b)
c = 0 + 2j # j denotes imaginary unit of complex numbers
print("Complex multiplication:", c * c)
s = "conca" + "tenation"
print(s)

Result of the comparison: False
Complex multiplication: (-4+0j)
concatenation

In [ ]:
print(int(-2.8))
print(float(2))
print(int("123"))
print(bool(-2), bool(0)) # zero is interpreted as false
print(str(234))

In [38]:
b = "Ã¤".encode("utf-8") # converts character to sequence of bytes
print(b) # prints bytes in hexidecimal notation
print(list(b)) # prints bytes in decimal notation

b'\xc3\xa4'
[195, 164]

Creating strings

In [41]:
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

In [45]:
s = """A string
spanning over
several lines"""
print(s)

A string
spanning over
several lines

In [47]:
a = "first"
b = "second"
print(a + b)
print(" ".join([a, b, b, a]))

firstsecond
first second second first

In [51]:
print(str(1) + " plus " + str(3) + " is equal to " + str(4))
# slightly better
print(1, "plus", 3, "is equal to", 4)

1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [55]:
print("%i plus %i is equal to %i" % (1, 3, 4)) # format syntax
print("{} plus {} is equal to {}".format(1, 3, 4)) # format method
print(f"{1} plus {3} is equal to {4}") # f-string

1 plus 3 is equal to 4
1 plus 3 is equal to 4
1 plus 3 is equal to 4

In [57]:
print("%s concatenated with %s produces %s" % ("water", "melon", "water" + "melon"))
print("{0} concatenated with {1} produces {0}{1}".format("water", "melon"))
print(f"{'water'} concatenated with {'melon'} produces {'water' + 'melon'}")

water concatenated with melon produces watermelon
water concatenated with melon produces watermelon
water concatenated with melon produces watermelon

Expressions

Statements

In [61]:
i = 5
i = i + 1 # common idiom to increment the value of i by one
i += 1 # short-hand for above

Loops for repetitive tasks

In [64]:
i = 1
while i * i < 1000:
    print("Square of", i, "is", i * i)
    i = i + 1
print("Finished printing all the squares below 1000.")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361
Square of 20 is 400
Square of 21 is 441
Square of 22 is 484
Square of 23 is 529
Square of 24 is 576
Square of 25 is 625
Square of 26 is 676
Square of 27 is 729
Square of 28 is 784
Square of 29 is 841
Square of 30 is 900
Square of 31 is 961
Finished printing all the squares below 1000.

In [66]:
s = 0
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    s = s + i
print("The sum is", s)

The sum is 45

Exercise 1.4 (multiplication table)

In [134]:
def main():
    for i in range(1,11):
        for j in range(1,11):
            print('{:4d}'.format(i * j), end="")
        print() # new line after each row

if __name__ == "__main__":
    main()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

Decision making with the if statement

In [3]:
x = input("Give an integer: ")
x = int(x)
if x >= 0:
    a = x
else:
    a = -x
print("The absolute value of %i is %i" % (x, a))

Give an integer:  -1

The absolute value of -1 is 1

In [5]:
c = float(input("Give a number: "))
if c > 0:
    print("c is positive")
elif c < 0:
    print("c is negative")
else:
    print("c is zero")

Give a number:  3

c is positive

Breaking and continuing loop

In [8]:
l = [1, 3, 65, 3, -1, 56 ,-10]
for x in l:
    if x < 0:
        break
print("The first negative list item was", x)

The first negative list item was -1

In [68]:
from math import sqrt, log
l = [1, 3,65 ,3, -1, 56, -10]
for x in l:
    if x < 0:
        continue # stop current iteration and continue to next
    print(f"Square root of {x} is {sqrt(x):.3f}")
    print(f"Natural logarithm of {x} is {log(x):.4f}")

Square root of 1 is 1.000
Natural logarithm of 1 is 0.0000
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 65 is 8.062
Natural logarithm of 65 is 4.1744
Square root of 3 is 1.732
Natural logarithm of 3 is 1.0986
Square root of 56 is 7.483
Natural logarithm of 56 is 4.0254

Exercise 1.5 (two dice)

In [131]:
def main():
    for i in range(1,7):
        for j in range(1,7):
            if i + j != 5:
               continue
            print(f"({i},{j})")

if __name__ == "__main__":
    main()

(1,4)
(2,3)
(3,2)
(4,1)

Functions

In [15]:
def double(x):
    "This function multiplies its argument by two."
    return x * 2
print(double(4), double(1.2), double("abc")) # it even works for strings

8 2.4 abcabc

In [17]:
print("The docstring is:", double.__doc__)
help(double) # another way to access docstring

The docstring is: This function multiplies its argument by two.
Help on function double in module __main__:

double(x)
    This function multiplies its argument by two.

In [19]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [21]:
def sum_of_squares(a, b):
    "Computes the sum of arguments squared"
    return a**2 + b**2
print(sum_of_squares(3, 4))

25

In [39]:
def sum_of_squares(lst):
    "Computes the sum of squares of elements in the list given as a parameter"
    s = 0
    for x in lst:
        s += x**2
    return s
print(sum_of_squares([-2]))
print(sum_of_squares([-2, 4, 5]))

4
45

In [45]:
def sum_of_squares(*t): # tuples are immutable lists
    "Computes the sum of squares of arbitrary number of arguments"
    s = 0
    for x in t:
        s += x**2
    return s
print(sum_of_squares(-2))
print(sum_of_squares(-2, 4, 5))

4
45

In [51]:
lst = [1, 5, 8]
print("With list unpacked as arguments to the functions:", sum_of_squares(*lst))
# print(sum_of_squares(lst)) # does not work correctly

With list unpacked as arguments to the functions: 90

In [57]:
def named(a, b, c):
    print("First:", a, "Second:", b, "Third:", c)
named(5, c=7, b=8)

First: 5 Second: 8 Third: 7

In [59]:
print(1, 2, 3, end=' |', sep=' -*- ')
print("first", "second", "third", end=' |', sep=' -*- ')

1 -*- 2 -*- 3 |first -*- second -*- third |

In [65]:
def length(*t, degree = 2):
    """Comptues the length of the vector given as parameter. By default, it computes
    the Euclidean distance (degree==2)"""
    s = 0
    for x in t:
        s += abs(x)**degree
    return s**(1/degree)
print(length(-4, 3))
print(length(-4, 3, degree = 3))

5.0
4.497941445275415

Visibility of variables

In [70]:
i = 2        # global variable
def f():
    i = 3    # this creates a new variable, it does not rebind the global i
    print(i) # this will print 3
f()
print(i)

3
2

In [74]:
i = 2
def f():
    global i
    i = 5    # rebind the global i variable
    print(i) # this will print 5
f()
print(i)     # this will print 5

5
5

In [80]:
def f():             # outer function
    b = 2
    def g():         # inner function
        # nonlocal b # without this nonlocal statement,
        b = 3        # this will create a new local variable
        print(b)
    g()
    print(b)
f()

3
2

Exercise 1.6 (triple square)

In [128]:
def triple(i):
    return i*3
def square(i):
    return i**2

def main():
    for i in range(1,11):
        tr = triple(i)
        sq = square(i)
        if sq > tr:
            break
        print(f"triple({i})=={tr}", f"square({i})=={sq}")

if __name__ == "__main__":
    main()

triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
triple(3)==9 square(3)==9

Exercise 1.7 (area of shapes)

In [126]:
import math

def shape():
    while choice := input("Choose a shape (triangle, rectangle, circle):"):
        if choice == "triangle":
            base = input("Give base of the triangle:")
            height = input("Give height of the triangle:")
            print(f"The area is {0.5 * float(base) * float(height)}")
        elif choice == "rectangle":
            width = input("Give width of the rectangle:")
            height = input("Give height of the rectangle:")
            print(f"The area is {float(width) * float(height)}")
        elif choice == "circle":
            radius = input("Give radius of the circle:")
            print(f"The area is {math.pi * (float(radius)**2)}")
        else:
            print("Unknown shape!")

def main():
    shape()

if __name__ == "__main__":
    main()

Choose a shape (triangle, rectangle, circle):

Data Structures

Sequences

In [83]:
[2, 100, "hello", 1.0]

[2, 100, 'hello', 1.0]

In [85]:
s = "abcdefg"
s[1:4]

'bcd'

In [87]:
print([0, 1, 2, 3, 4, 5, 6, 7, 8, 9][::3])

[0, 3, 6, 9]

Exercise 1.8 (solve quadratic)

In [119]:
import math

def solve_quadratic(a, b, c):
    x1 = (-float(b) + math.sqrt(float(b)**2 - 4*float(a)*float(c)))/(2*float(a))
    x2 = (-float(b) - math.sqrt(float(b)**2 - 4*float(a)*float(c)))/(2*float(a))
    return (x1,x2)


def main():
    print(solve_quadratic(1, -3, 2))
    print(solve_quadratic(1, 2, 1))

if __name__ == "__main__":
    main()

(2.0, 1.0)
(-1.0, -1.0)

Modifying lists

In [90]:
L = [11, 13, 22, 32]
L[2] = 10 # changes the third element
print(L)

[11, 13, 10, 32]

In [92]:
L[1:3] = [4]
print(L)

[11, 4, 32]

Generating numerical sequences

In [100]:
L = range(3)
for i in L:
    print(i)
# note that L is not a list!
print(L)

0
1
2
range(0, 3)

In [102]:
L = range(10)
print(list(L))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
print(list(range(0, 7, 2)))

[0, 2, 4, 6]

Sorting sequences

In [107]:
L = [5, 3, 7, 1]
L.sort() # here we call the sort method of the object L
print(L)
L2 = [6, 1, 7, 3, 6]
print(sorted(L2))
print(L2)

[1, 3, 5, 7]
[1, 3, 6, 6, 7]
[6, 1, 7, 3, 6]

In [109]:
L = [5, 3, 7, 1]
print(sorted(L, reverse=True))

[7, 5, 3, 1]

Exercise 1.9 (merge)

In [116]:
def merge(L1, L2):
    i1 = 0
    i2 = 0
    merged = []
    while i1 + i2 < len(L1) + len(L2):
        if i2 == len(L2) or i1 < len(L1) and L1[i1] < L2[i2]:
            merged.append(L1[i1])
            i1 += 1
        else:
            merged.append(L2[i2])
            i2 += 1
    return merged
        
        
def main():
    L1 = [0, 4, 8, 12, 15]
    L2 = [1, 3, 5, 7, 9]
    print(merge(L1, L2))
    L1 = [12, 34, -31, 43, 16]
    L2 = [0, 5, 37, 12, -21]
    print(merge(sorted(L1),sorted(L2)))


if __name__ == "__main__":
    main()

[0, 1, 3, 4, 5, 7, 8, 9, 12, 15]
[-31, -21, 0, 5, 12, 12, 16, 34, 37, 43]

Exercise 1.10 (detect ranges)

In [4]:
def detect_subrange(L):
    # determine length of consecutive sequence
    i = 1
    while i < len(L): # potentially check whole list
        if L[i] == L[0] + i:
            i += 1 # if consecutive, continue
        else:
            break # stop if detect end of sequence
    if i > 1:
        # return tuple for sequence and length of range
        return (L[0],L[0]+i), i  
    else: # single element list or if no sequence detected
        return L[0], 1 # return element and length of sequence = 1

def detect_ranges(L):
    M = sorted(L) # create new sorted list
    ranges = [] # result
    i = 0
    while i < len(M): # while looking at non-empty sublist
        s, j = detect_subrange(M[i:]) # check for subrange on current sublist
        ranges.append(s) # append result
        i += j # increment by length of last subrange result
    return ranges

def main():
    L = [2, 5, 4, 8, 12, 6, 7, 10, 13]
    result = detect_ranges(L)
    print(L)
    print(result)

if __name__ == "__main__":
    main()

[2, 5, 4, 8, 12, 6, 7, 10, 13]
[2, (4, 9), 10, (12, 14)]

Zipping sequences

In [3]:
L1 = [1, 2, 3]
L2 = ["first", "second", "third"]
print(zip(L1, L2))       # note that zip does not return a list
print(list(zip(L1, L2))) # convert to a list

<zip object at 0x1062dee80>
[(1, 'first'), (2, 'second'), (3, 'third')]

In [5]:
days = "Monday Tuesday Wednesday Thursday Friday Saturday Sunday".split()
weathers = "rainy rainy sunny cloudy rainny sunny sunny".split()
temperatures = [10, 12, 12, 9, 9, 11, 11]
for day, weather, temperature in zip(days, weathers, temperatures):
    print(f"On {day} it was {weather} and the temperature was {temperature} celsius.")

#  or equivalently:
# for t in zip(days, weathers, temperatures):
#     print("On {} it was {} and the temperature was {} degrees celsius.".format(*t))

On Monday it was rainy and the temperature was 10 celsius.
On Tuesday it was rainy and the temperature was 12 celsius.
On Wednesday it was sunny and the temperature was 12 celsius.
On Thursday it was cloudy and the temperature was 9 celsius.
On Friday it was rainny and the temperature was 9 celsius.
On Saturday it was sunny and the temperature was 11 celsius.
On Sunday it was sunny and the temperature was 11 celsius.

Exercise 1.11 (interleave)

In [8]:
def interleave(*lists):
    """Converts arbitrary amount of lists into one list,
    containing all elements from input lists interleaved.
    """
    L1 = list(zip(*lists)) # zips each list into one list of tuples
    L2 = []
    for t in L1:
        L2.extend(t)       # adds each tuple into a single list
    return L2


def main():
    print(interleave([1, 2, 3], [20, 30, 40], ['a', 'b', 'c']))

if __name__ == "__main__":
    main()

[1, 20, 'a', 2, 30, 'b', 3, 40, 'c']

Enumerating sequences

In [11]:
L = [1, 2, 98, 5, -1, 2, 0, 5, 10]
counter = 0
for i, x in enumerate(L):
    if x == 5:
        counter += 1
        if counter == 2:
            break
print(i)

7

Dictionary

In [16]:
d = {"key1":"value1", "key2":"value2"}
print(d["key1"])
print(d["key2"])

value1
value2

In [20]:
dict([("key1", "value1"), ("key2", "value2"), ("key3", "value3")]) # list of items
dict(key1 = "value1", key2 = "value2", key3 = "value3");

In [22]:
d = {}
d[2] = "value"
print(d)

{2: 'value'}

In [26]:
# d[1] # this would cause an error

In [37]:
d = dict(a = 1, b = 2, c = 3, d = 4, e = 5)
d.values()

dict_values([1, 2, 3, 4, 5])

Sets

In [40]:
s = {1, 1, 1}
print(s)
s = set([1, 2, 2, 'a'])
print(s)
s = set() # empty set
print(s)
s.add(7)  # add one elemnt
print(s)

{1}
{1, 2, 'a'}
set()
{7}

In [42]:
s = "mississippi"
print(f"There are {len(set(s))} distinct charcaters in {s}")

There are 4 distinct charcaters in mississippi

In [46]:
s = set([1, 2, 7])
t = set([2, 8, 9])
print("Union:", s|t)
print("Intersection:", s&t)
print("Difference:", s-t)
print("Symmetric difference", s^t)

Union: {1, 2, 7, 8, 9}
Intersection: {2}
Difference: {1, 7}
Symmetric difference {1, 7, 8, 9}

Exercise 1.12 (distinct characters)

In [51]:
def distinct_characters(L):
    """Receives list of strings and returns dictionary,
    whose keys are strings of input list,
    and corresponding values are numbers of distinct characters in key
    """
    d = {}
    # make each input a key, setting its value to number of distinct characters
    for i in L: 
        d[i] = len(set(i))
    return d

def main():
    print(distinct_characters(["check", "look", "try", "pop"]))

if __name__ == "__main__":
    main()

{'check': 4, 'look': 3, 'try': 3, 'pop': 2}

Miscellaneous stuff

In [60]:
print(1 in [1, 2])
d = dict(a = 1, b = 3)
print("b" in d)
s = set()
print(1 in s)
print("x" in "text")

True
True
False
True

In [64]:
print("issi" in "mississippi")
print("issp" in "mississippi")

True
False

In [68]:
first, second = [4, 5]
a, b, c = "bye"
print(c)
d = dict(a = 1, b = 3)
key1, key2 = d
print(key1, key2)

e
a b

In [70]:
for key, value in d.items():
    print(f"For key '{key}' value {value} was stored")

For key 'a' value 1 was stored
For key 'b' value 3 was stored

In [76]:
s = "hello"
del s
# print(s) # this would cause an error

In [80]:
L = [13, 23, 40, 100]
del L[1]
print(L)

[13, 40, 100]

Exercise 1.13 (reverse dictionary)

My solution:

In [102]:
def reverse_dictionary(d):
    """Input a English to Finnish dictionary,
    returns a Finnish to English dictionary 
    """
    rd = {}
    # unpack each key (english) and value (finnish) to be reversed
    for key, value in d.items():
        # if there are multiple finnish definitions for the english word, make key for each finnish word
        if len(value) > 1:
            for i in range(len(value)): 
                rd[value[i]] = [key]
        # if finnish word already has an entry, add the new english definition
        elif value[0] in rd:
            rd[value[0]].append(key)
        # otherwise the finnish definition becomes the new key
        else:
            rd[value[0]] = [key]
    return rd

def main():
    d={'move': ['liikuttaa'], 'hide': ['piilottaa', 'salata'], 'six': ['kuusi'], 'fir': ['kuusi']}
    reverse_dictionary(d)
    print(reverse_dictionary(d))

if __name__ == "__main__":
    main()

{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide'], 'kuusi': ['six', 'fir']}

Suggested solution:

In [118]:
def reverse_dictionary(d):
    result = {}
    for key, value in d.items():
        for v in value: # doing this loop for everything removes need for 3 cases
            if v in result:
                result[v].append(key)
            else:
                result[v] = [key]
    return result
 
def main():
    d = {"move":["liikuttaa"], "hide":["piilottaa", "salata"]}
    print(d)
    print(reverse_dictionary(d))
 
    d = {"move":["liikuttaa"], "hide":["piilottaa", "salata"],
         "six" : ["kuusi"], "fir" : ["kuusi"]}
    print(d)
    print(reverse_dictionary(d))
 
if __name__ == "__main__":
    main()

{'move': ['liikuttaa'], 'hide': ['piilottaa', 'salata']}
{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide']}
{'move': ['liikuttaa'], 'hide': ['piilottaa', 'salata'], 'six': ['kuusi'], 'fir': ['kuusi']}
{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide'], 'kuusi': ['six', 'fir']}

Exercise 1.14 (find matching)

In [121]:
def find_matching(L, pattern):
    """Returns indices in the input list that contain the search string.
    """
    match = []
    # goes through input list and includes the index for each value
    for i, j in enumerate(L):
        # if value includes pattern string then add the index to new list
        if pattern in L[i]: 
            match.append(i)
    return match

def main():
    print(find_matching(["sensitive", "engine", "rubbish", "comment"], "en"))

if __name__ == "__main__":
    main()

[0, 1, 3]

Compact way of creating data structures

In [125]:
L = []
for i in range(10):
    L.append(i**2)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [142]:
L = [ a**3 for a in range(1, 11)]
print(L)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [146]:
L = [ 100*a + 10*b + c for a in range(0, 10)
                       for b in range(0, 10)
                       for c in range(0, 10)
                       if a <= b <= c]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 37, 38, 39, 44, 45, 46, 47, 48, 49, 55, 56, 57, 58, 59, 66, 67, 68, 69, 77, 78, 79, 88, 89, 99, 111, 112, 113, 114, 115, 116, 117, 118, 119, 122, 123, 124, 125, 126, 127, 128, 129, 133, 134, 135, 136, 137, 138, 139, 144, 145, 146, 147, 148, 149, 155, 156, 157, 158, 159, 166, 167, 168, 169, 177, 178, 179, 188, 189, 199, 222, 223, 224, 225, 226, 227, 228, 229, 233, 234, 235, 236, 237, 238, 239, 244, 245, 246, 247, 248, 249, 255, 256, 257, 258, 259, 266, 267, 268, 269, 277, 278, 279, 288, 289, 299, 333, 334, 335, 336, 337, 338, 339, 344, 345, 346, 347, 348, 349, 355, 356, 357, 358, 359, 366, 367, 368, 369, 377, 378, 379, 388, 389, 399, 444, 445, 446, 447, 448, 449, 455, 456, 457, 458, 459, 466, 467, 468, 469, 477, 478, 479, 488, 489, 499, 555, 556, 557, 558, 559, 566, 567, 568, 569, 577, 578, 579, 588, 589, 599, 666, 667, 668, 669, 677, 678, 679, 688, 689, 699, 777, 778, 779, 788, 789, 799, 888, 889, 899, 999]

In [148]:
G = ( 100*a + 10*b + c for a in range(0, 10)
                       for b in range(0, 10)
                       for c in range(0, 10)
                       if a <= b <= c )
print(sum(G))    # this iterates through all the elements from the generator
print(sum(G))    # it doesn't restart from the beginning, so all elements are already consumed

60885
0

In [150]:
d = { k : k**2 for k in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [152]:
s = { i*j for i in range(10) for j in range(10)}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24, 25, 27, 28, 30, 32, 35, 36, 40, 42, 45, 48, 49, 54, 56, 63, 64, 72, 81}

Exercise 1.15 (two dice comprehension)

My solution:

In [157]:
def main():
    L = [ (i,j) for i in range(1, 7)
                for j in range(1, 7)
                if i+j == 5]
    for k in L:
        print(k, end="\n")

if __name__ == "__main__":
    main()

(1, 4)
(2, 3)
(3, 2)
(4, 1)

Suggested solution:

In [163]:
def main():
    print("\n".join(f"({a},{b})" for a in range(1, 7) for b in range(1, 7) if a + b == 5))
 
if __name__ == "__main__":
    main()

(1,4)
(2,3)
(3,2)
(4,1)

Processing sequences

Map and lambda functions

In [168]:
def double(x):
    return 2*x
L = [12, 4, -1]
print(map(double, L))

<map object at 0x14862ba00>

In [170]:
print(list(map(double, L)))

[24, 8, -2]

In [172]:
s = "12 43 64 6"
L = s.split()    # the split method of the string class,
                 # breaks the string at whitespaces to a list of strings
print(L)
print(sum(map(int, L)))    # the int function converts a string to an integer

['12', '43', '64', '6']
125

In [174]:
def add_double_and_square(x):
    return 2*x + x**2

In [176]:
L = [2, 3, 5]
print(list(map(lambda x : 2*x + x**2, L)))

[8, 15, 35]

Exercise 1.16 (transform)

In [179]:
def transform(s1, s2):
    """Converts two strings into a list of integers,
    whose elements are multiplication of the two integers in respective part of list
    """
    # zip together tuples with integers of the split strings,
    # then multiply the two values in each tuple
    return [ x * y for (x, y) in zip(map(int, s1.split()), map(int, s2.split()))]

def main():
    print(transform("1 5 3", "2 6 -1"))

if __name__ == "__main__":
    main()

[2, 30, -3]

Filter function

In [182]:
def is_odd(x):
    """Returns True if x is odd and False if x is even"""
    return x % 2 == 1    # the % operator returns the remainder of integer division
L = [1, 4, 5, 9, 10]
print(list(filter(is_odd, L)))

[1, 5, 9]

In [184]:
[l**2 for l in L if is_odd(l)] # squares of odd values

[1, 25, 81]

Exercise 1.17 (positive list)

In [187]:
def positive_list(L):
    """input a list of numbers,
    returns a list with negative numbers and zero filtered out
    """
    return list(filter(lambda i : i>0, L))
    # without filter function
    # return [i for i in L if i>0]

def main():
    result = positive_list([2, -2, 0, 1, -7])
    print(result)

if __name__ == "__main__":
    main()

[2, 1]

The reduce function

In [190]:
def sumreduce(L):
    s = 0
    for x in L:
        s = s + x
    return s

In [192]:
L = [1, 2, 3, 4]
from functools import reduce    # import the reduce function from the functool smodule
reduce(lambda x,y:x+y, L, 0)

10

In [198]:
reduce(lambda x,y:x*y, L, 1)

24

String handling

In [207]:
s = "text"
# s[0] = "a" # this is not legal in python

Classification of strings

String transformations

Searching for substrings

Trimming and adjusting

In [218]:
L = [1, 3, 5, 7, 9, 1, 1]
print("-"*11)
for i in L:
    s = "*"*i
    print(f"|{s.center(9)}|")
print("-"*11)

-----------
|    *    |
|   ***   |
|  *****  |
| ******* |
|*********|
|    *    |
|    *    |
-----------

Joining and splitting

In [221]:
"--".join(["abc", "def", "ghi"])

'abc--def--ghi'

In [223]:
L = [str(x) for x in range(100)]
s = ""
for x in L:
    s += " " + x     # avoid doing this, creates a new string at every iteration
print(s)             # note the redundant initial space
print(" ".join(L))   # this the correct way of building a string out of smaller strings

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [225]:
%%timeit
s = ""
for x in L:
    s += " " + x

4.07 Î¼s Â± 75.6 ns per loop (mean Â± std. dev. of 7 runs, 100,000 loops each)

In [229]:
%%timeit
s = " ".join(L)

667 ns Â± 11.4 ns per loop (mean Â± std. dev. of 7 runs, 1,000,000 loops each)

In [231]:
'abc--def--ghi'.split("--")

['abc', 'def', 'ghi']

Exercise 1.18 (acronyms)

In [242]:
from string import punctuation

def acronyms(s):
    """returns a list of acronyms present in a string
    """
    # create list with each string and strip punctuation 
    L = [ i.strip(punctuation) for i in s.split() ]
    # acronym if length at least two and all characters uppercase
    return [ j for j in L if len(j) >= 2 and j.isupper() ]
    """long way
    result = []
    s = s.split()    # creates list with each string
    for i in s:
        # delete punctuation
        i = i.strip(punctuation)
        # acronym if length at least two and all characters uppercase
        if len(i) >= 2 and i.isupper():
            result.append(i)
    return result
    """

def main():
    print(acronyms("""For the purposes of the EU General Data Protection Regulation (GDPR), the controller of your personal information is International Business Machines Corporation (IBM Corp.), 1 New Orchard Road, Armonk, New York, United States, unless indicated otherwise. Where IBM Corp. or a subsidiary it controls (not established in the European Economic Area (EEA)) is required to appoint a legal representative in the EEA, the representative for all such cases is IBM United Kingdom Limited, PO Box 41, North Harbour, Portsmouth, Hampshire, United Kingdom PO6 3AU."""))


if __name__ == "__main__":
    main()

['EU', 'GDPR', 'IBM', 'IBM', 'EEA', 'EEA', 'IBM', 'PO', 'PO6', '3AU']

Exercise 1.19 (sum equation)

In [247]:
def sum_equation(L):
    """turns list of positive integers into a string
    with equation of the sum of elements
    """
    if len(L) == 0:
        return "0 = 0"
    else:
        return " + ".join(str(i) for i in L) + f" = {sum(L)}"

def main():
    print(sum_equation([1, 5, 7]))

if __name__ == "__main__":
    main()

1 + 5 + 7 = 13

Modules

Using modules

In [251]:
import math
math.cos(0)

1.0

Breaking the namespace

Module lookup

Module hierarchy

Importing from packages

In [257]:
from numpy.linalg import linalg

In [259]:
from numpy.linalg import linalg as lin

In [261]:
from numpy.linalg.linalg import det

Correspondence between folder and module hierarchies

Contents of a module

In [269]:
a = 5
def f(i):
    return i + 1

In [271]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [273]:
def main():
    for _ in range(3):
        print("Hello")

if __name__ == "__main__":    # we call main only when this module is not being imported, but directly executed
    main()                    # for example with 'python3 mod.py'

Hello
Hello
Hello

Exercise 1.20 (usemodule)

In [284]:
# Don't modify the below hack
try:
    from src import triangle
except ModuleNotFoundError:
    import triangle

def main():
    # Call the functions from here
    print(triangle.hypotenuse(3, 4))
    print(triangle.area(3, 4))

if __name__ == "__main__":
    main()

5.0
6.0