In [1]:
import pandas as pd
import numpy as np

Creation of dataframes

Creating DataFrames from a NumPy array

In [5]:
df = pd.DataFrame(
    np.random.randn(2, 3),
    columns=["First", "Second", "Third"],
    index=["a", "b"]
)
df

      First    Second     Third
a -0.441458  0.909961  0.309505
b -0.355160 -1.306468 -0.675490

In [7]:
df.index  # These are the "row names"

Index(['a', 'b'], dtype='object')

In [9]:
df.columns  # These are the "column names"

Index(['First', 'Second', 'Third'], dtype='object')

In [11]:
df2 = pd.DataFrame(np.random.randn(2, 3), index=["a","b"])
df2

          0         1         2
a -0.606804  0.331033 -0.564309
b  1.300565 -1.382835  0.456260

In [13]:
df2.columns

RangeIndex(start=0, stop=3, step=1)

Creating DataFrames from columns

In [16]:
s1 = pd.Series([1, 2, 3])
s1

0    1
1    2
2    3
dtype: int64

In [18]:
s2 = pd.Series([4, 5, 6], name="b")
s2

0    4
1    5
2    6
Name: b, dtype: int64

In [20]:
pd.DataFrame(s1, columns=["a"])

   a
0  1
1  2
2  3

In [22]:
pd.DataFrame(s2)

   b
0  4
1  5
2  6

In [24]:
pd.DataFrame({"a": s1, "b": s2})

   a  b
0  1  4
1  2  5
2  3  6

Creating DataFrames from rows

In [27]:
df = pd.DataFrame([{"Wage": 1000, "Name": "Jack", "Age": 21},
                   {"Wage": 1500, "Name": "John", "Age": 29}])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

In [29]:
df = pd.DataFrame([[1000, "Jack", 21], [1500, "John", 29]],
                  columns=["Wage", "Name", "Age"])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

Exercise 4.1 (cities)

In [32]:
import pandas as pd

def cities():
    """Returns DataFrame of top Finnish cities by population"""
    index = ["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"]
    population = [643272, 279044, 231853, 223027, 201810]
    total_area = [715.48, 528.03, 689.59, 240.35, 3817.52]
    df = pd.DataFrame({"Population": population, "Total area": total_area}, index=index)
    return df
    
def main():
    print(cities())
    
if __name__ == "__main__":
    main()

          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

Suggested solution:

In [35]:
import pandas as pd
 
def cities():
    a=[[643272, 715.48],
       [279044, 528.03],
       [231853, 689.59],
       [223027, 240.35],
       [201810, 3817.52]]
    cols=["Population", "Total area"]
    ind=["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"]
    df = pd.DataFrame(a, index=ind, columns=cols)
    return df
    
def main():
    df = cities()
    print(df.dtypes)
    print(df)
    
if __name__ == "__main__":
    main()

Population      int64
Total area    float64
dtype: object
          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

Exercise 4.2 (powers of series)

In [38]:
import pandas as pd

def powers_of_series(s, k):
    """Takes Series and positive integer k,
    returns DataFrame where first column is Series,
    second column is Series raised to power of 2,
    and so on until (and including) the power of k
    """
    d = {}
    for i in range(1, k+1):
        d[i] = s ** i
    return pd.DataFrame(d)
    
def main():
    s = pd.Series([1, 2, 3, 4], index=list("abcd"))
    print(powers_of_series(s, 3))
    
if __name__ == "__main__":
    main()

   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64

Suggested solution:

In [41]:
import pandas as pd
 
def powers_of_series(s, k):
    c=[ s**i for i in range(1,k+1) ]
    df = pd.DataFrame(dict(zip(range(1,k+1), c)))
    return df
    
def main():
    s = pd.Series([1,2,3,4], index=list("abcd"))
    print("Original Series:\n", s, sep="")
    print("Powers of Series:\n", powers_of_series(s, 3), sep="")
    
if __name__ == "__main__":
    main()

Original Series:
a    1
b    2
c    3
d    4
dtype: int64
Powers of Series:
   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64

Exercise 4.3 (municipal information)

In [54]:
import pandas as pd

def main():
    df = pd.read_csv("municipal.tsv", sep="\t")
    print(f"Shape: {df.shape[0]}, {df.shape[1]}")
    print("Columns:")
    for i in range(df.shape[1]):
        print(df.columns[i]) 

if __name__ == "__main__":
    main()

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Suggested solution:

In [57]:
import pandas as pd
 
def main():
    df = pd.read_csv("municipal.tsv", sep="\t")
    print("Shape: {}, {}".format(*df.shape))
    print("Columns:")
    for name in df.columns:
        print(name)
 
 
if __name__ == "__main__":
    main()

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Accessing columns and rows of a dataframe

In [60]:
try:
    df[0]
except KeyError:
    import sys
    print("Key error", file=sys.stderr)

Key error

In [62]:
df["Wage"]

0    1000
1    1500
Name: Wage, dtype: int64

In [64]:
df[["Wage", "Name"]]

   Wage  Name
0  1000  Jack
1  1500  John

In [66]:
df[0:1]  # Slice

   Wage  Name  Age
0  1000  Jack   21

In [68]:
df[df.Wage > 1200]  # Boolean mask

   Wage  Name  Age
1  1500  John   29

In [70]:
df["Wage"][1]  # Note order of dimensions

1500

Exercise 4.4 (municipalities of finland)

In [75]:
import pandas as pd

def municipalities_of_finland():
    """Returns DataFrame containing only rows about municipalities"""
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018")
    return df.loc["Akaa":"Äänekoski"]
    
def main():
    print(municipalities_of_finland())
    
if __name__ == "__main__":
    main()

             Population  Population change from the previous year, %  \
Region 2018
Akaa              16769                                         -0.9
Alajärvi           9831                                         -0.7
Alavieska          2610                                         -1.1
Alavus            11713                                         -1.6
Asikkala           8248                                         -0.9
...                 ...                                          ...
Ylivieska         15251                                          0.3
Ylöjärvi          32878                                          0.2
Ypäjä              2372                                         -0.4
Ähtäri             5906                                         -1.3
Äänekoski         19144                                         -1.2

             Share of Swedish-speakers of the population, %  \
Region 2018
Akaa                                                    0.2
Alajärvi                                                0.1
Alavieska                                               0.2
Alavus                                                  0.1
Asikkala                                                0.2
...                                                     ...
Ylivieska                                               0.3
Ylöjärvi                                                0.3
Ypäjä                                                   0.7
Ähtäri                                                  0.1
Äänekoski                                               0.1

             Share of foreign citizens of the population, %  \
Region 2018
Akaa                                                    1.6
Alajärvi                                                1.9
Alavieska                                               0.6
Alavus                                                  1.1
Asikkala                                                1.6
...                                                     ...
Ylivieska                                               1.2
Ylöjärvi                                                1.2
Ypäjä                                                   1.9
Ähtäri                                                  0.9
Äänekoski                                               1.2

             Proportion of the unemployed among the labour force, %  \
Region 2018
Akaa                                                      14.6
Alajärvi                                                  13.9
Alavieska                                                 10.8
Alavus                                                    11.3
Asikkala                                                  12.0
...                                                        ...
Ylivieska                                                 13.3
Ylöjärvi                                                  11.7
Ypäjä                                                     13.2
Ähtäri                                                    13.0
Äänekoski                                                 19.7

             Proportion of pensioners of the population, %
Region 2018
Akaa                                                  26.1
Alajärvi                                              32.0
Alavieska                                             28.4
Alavus                                                31.5
Asikkala                                              35.5
...                                                    ...
Ylivieska                                             23.1
Ylöjärvi                                              20.3
Ypäjä                                                 31.4
Ähtäri                                                35.1
Äänekoski                                             30.5

[311 rows x 6 columns]

Suggested solution:

In [91]:
import pandas as pd
 
def municipalities_of_finland():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col=0)
    return df["Akaa":"Äänekoski"]
    
def main():
    df=municipalities_of_finland()
    print(df.iloc[0,0])
    print(df.iloc[-1,-1])
    #df=pd.DataFrame()
    print("Shape: {}, {}".format(*df.shape))
    for name in df.columns:
        print(name)
    
if __name__ == "__main__":
    main()

16769
30.5
Shape: 311, 6
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Exercise 4.5 (swedish and foreigners)

In [96]:
import pandas as pd

def swedish_and_foreigners():
    """Returns only columns about population, proportion of Swedish
    speaking people, and foreigners for municipalities where
    proportion of Swedish speakers and foreigners is above 5%
    """
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018") 
    municipal = df.loc["Akaa":"Äänekoski"]
    subset = municipal[
        (municipal["Share of Swedish-speakers of the population, %"] > 5.0)
        & (municipal["Share of foreign citizens of the population, %"] > 5.0)]
    return subset[[
        "Population",
        "Share of Swedish-speakers of the population, %",
        "Share of foreign citizens of the population, %"]]

def main():
    print(swedish_and_foreigners())

if __name__ == "__main__":
    main()

               Population  Share of Swedish-speakers of the population, %  \
Region 2018
Brändö                452                                            72.6
Eckerö                948                                            89.7
Espoo              279044                                             7.2
Finström             2580                                            89.8
Föglö                 532                                            84.2
Geta                  495                                            86.9
Hammarland           1547                                            89.7
Helsinki           643272                                             5.7
Jomala               4859                                            89.1
Kaskinen             1274                                            29.9
Kirkkonummi         39170                                            16.6
Korsnäs              2154                                            85.8
Kumlinge              314                                            85.4
Kökar                 236                                            87.7
Lapinjärvi           2706                                            31.2
Lemland              2028                                            92.1
Lumparland            395                                            86.6
Mariehamn           11677                                            84.2
Närpiö               9507                                            80.4
Pietarsaari         19379                                            56.2
Saltvik              1873                                            91.9
Sottunga               92                                            93.5
Sund                 1031                                            88.8
Turku              189669                                             5.4
Uusikaarlepyy        7521                                            86.7
Vaasa               67392                                            22.8
Vårdö                 430                                            88.1
Vöyri                6616                                            81.1

               Share of foreign citizens of the population, %
Region 2018
Brändö                                                    8.4
Eckerö                                                   11.5
Espoo                                                    10.5
Finström                                                 10.5
Föglö                                                    17.3
Geta                                                     13.5
Hammarland                                               11.6
Helsinki                                                  9.5
Jomala                                                    8.5
Kaskinen                                                  5.3
Kirkkonummi                                               5.5
Korsnäs                                                   9.1
Kumlinge                                                  8.0
Kökar                                                     8.1
Lapinjärvi                                                5.1
Lemland                                                   8.0
Lumparland                                                9.9
Mariehamn                                                13.0
Närpiö                                                   12.7
Pietarsaari                                               7.1
Saltvik                                                   6.3
Sottunga                                                  5.4
Sund                                                      8.5
Turku                                                     6.5
Uusikaarlepyy                                             6.1
Vaasa                                                     6.0
Vårdö                                                     9.5
Vöyri                                                     5.7

Exercise 4.6 (growing municipalities)

In [107]:
import pandas as pd

def growing_municipalities(df):
    """Gets subset of municipalities as input and returns proportion
    of municipalities with increasing population in that subset
    """
    growing = len(df[df["Population change from the previous year, %"] > 0])
    return (growing / len(df))

def main():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018")
    subset = df.loc["Akaa":"Äänekoski"]
    prop = growing_municipalities(subset)
    print(f"Proportion of growing municipalities: {prop:.1%}")

if __name__ == "__main__":
    main()

Proportion of growing municipalities: 22.8%