In [1]:
import pandas as pd
import numpy as np

Creation of dataframes

Creating DataFrames from a NumPy array

In [5]:
df = pd.DataFrame(
    np.random.randn(2, 3),
    columns=["First", "Second", "Third"],
    index=["a", "b"]
)
df

      First    Second     Third
a -0.441458  0.909961  0.309505
b -0.355160 -1.306468 -0.675490

In [7]:
df.index  # These are the "row names"

Index(['a', 'b'], dtype='object')

In [9]:
df.columns  # These are the "column names"

Index(['First', 'Second', 'Third'], dtype='object')

In [11]:
df2 = pd.DataFrame(np.random.randn(2, 3), index=["a","b"])
df2

          0         1         2
a -0.606804  0.331033 -0.564309
b  1.300565 -1.382835  0.456260

In [13]:
df2.columns

RangeIndex(start=0, stop=3, step=1)

Creating DataFrames from columns

In [16]:
s1 = pd.Series([1, 2, 3])
s1

0    1
1    2
2    3
dtype: int64

In [18]:
s2 = pd.Series([4, 5, 6], name="b")
s2

0    4
1    5
2    6
Name: b, dtype: int64

In [20]:
pd.DataFrame(s1, columns=["a"])

   a
0  1
1  2
2  3

In [22]:
pd.DataFrame(s2)

   b
0  4
1  5
2  6

In [24]:
pd.DataFrame({"a": s1, "b": s2})

   a  b
0  1  4
1  2  5
2  3  6

Creating DataFrames from rows

In [27]:
df = pd.DataFrame([{"Wage": 1000, "Name": "Jack", "Age": 21},
                   {"Wage": 1500, "Name": "John", "Age": 29}])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

In [29]:
df = pd.DataFrame([[1000, "Jack", 21], [1500, "John", 29]],
                  columns=["Wage", "Name", "Age"])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

Exercise 4.1 (cities)

In [32]:
import pandas as pd

def cities():
    """Returns DataFrame of top Finnish cities by population"""
    index = ["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"]
    population = [643272, 279044, 231853, 223027, 201810]
    total_area = [715.48, 528.03, 689.59, 240.35, 3817.52]
    df = pd.DataFrame({"Population": population, "Total area": total_area}, index=index)
    return df
    
def main():
    print(cities())
    
if __name__ == "__main__":
    main()

          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

Suggested solution:

In [35]:
import pandas as pd
 
def cities():
    a=[[643272, 715.48],
       [279044, 528.03],
       [231853, 689.59],
       [223027, 240.35],
       [201810, 3817.52]]
    cols=["Population", "Total area"]
    ind=["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"]
    df = pd.DataFrame(a, index=ind, columns=cols)
    return df
    
def main():
    df = cities()
    print(df.dtypes)
    print(df)
    
if __name__ == "__main__":
    main()

Population      int64
Total area    float64
dtype: object
          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

Exercise 4.2 (powers of series)

In [38]:
import pandas as pd

def powers_of_series(s, k):
    """Takes Series and positive integer k,
    returns DataFrame where first column is Series,
    second column is Series raised to power of 2,
    and so on until (and including) the power of k
    """
    d = {}
    for i in range(1, k+1):
        d[i] = s ** i
    return pd.DataFrame(d)
    
def main():
    s = pd.Series([1, 2, 3, 4], index=list("abcd"))
    print(powers_of_series(s, 3))
    
if __name__ == "__main__":
    main()

   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64

Suggested solution:

In [41]:
import pandas as pd
 
def powers_of_series(s, k):
    c=[ s**i for i in range(1,k+1) ]
    df = pd.DataFrame(dict(zip(range(1,k+1), c)))
    return df
    
def main():
    s = pd.Series([1,2,3,4], index=list("abcd"))
    print("Original Series:\n", s, sep="")
    print("Powers of Series:\n", powers_of_series(s, 3), sep="")
    
if __name__ == "__main__":
    main()

Original Series:
a    1
b    2
c    3
d    4
dtype: int64
Powers of Series:
   1   2   3
a  1   1   1
b  2   4   8
c  3   9  27
d  4  16  64

Exercise 4.3 (municipal information)

In [54]:
import pandas as pd

def main():
    df = pd.read_csv("municipal.tsv", sep="\t")
    print(f"Shape: {df.shape[0]}, {df.shape[1]}")
    print("Columns:")
    for i in range(df.shape[1]):
        print(df.columns[i]) 

if __name__ == "__main__":
    main()

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Suggested solution:

In [57]:
import pandas as pd
 
def main():
    df = pd.read_csv("municipal.tsv", sep="\t")
    print("Shape: {}, {}".format(*df.shape))
    print("Columns:")
    for name in df.columns:
        print(name)
 
 
if __name__ == "__main__":
    main()

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Accessing columns and rows of a dataframe

In [60]:
try:
    df[0]
except KeyError:
    import sys
    print("Key error", file=sys.stderr)

Key error

In [62]:
df["Wage"]

0    1000
1    1500
Name: Wage, dtype: int64

In [64]:
df[["Wage", "Name"]]

   Wage  Name
0  1000  Jack
1  1500  John

In [66]:
df[0:1]  # Slice

   Wage  Name  Age
0  1000  Jack   21

In [68]:
df[df.Wage > 1200]  # Boolean mask

   Wage  Name  Age
1  1500  John   29

In [70]:
df["Wage"][1]  # Note order of dimensions

1500

Exercise 4.4 (municipalities of finland)

In [75]:
import pandas as pd

def municipalities_of_finland():
    """Returns DataFrame containing only rows about municipalities"""
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018")
    return df.loc["Akaa":"Äänekoski"]
    
def main():
    print(municipalities_of_finland())
    
if __name__ == "__main__":
    main()

             Population  Population change from the previous year, %  \
Region 2018
Akaa              16769                                         -0.9
Alajärvi           9831                                         -0.7
Alavieska          2610                                         -1.1
Alavus            11713                                         -1.6
Asikkala           8248                                         -0.9
...                 ...                                          ...
Ylivieska         15251                                          0.3
Ylöjärvi          32878                                          0.2
Ypäjä              2372                                         -0.4
Ähtäri             5906                                         -1.3
Äänekoski         19144                                         -1.2

             Share of Swedish-speakers of the population, %  \
Region 2018
Akaa                                                    0.2
Alajärvi                                                0.1
Alavieska                                               0.2
Alavus                                                  0.1
Asikkala                                                0.2
...                                                     ...
Ylivieska                                               0.3
Ylöjärvi                                                0.3
Ypäjä                                                   0.7
Ähtäri                                                  0.1
Äänekoski                                               0.1

             Share of foreign citizens of the population, %  \
Region 2018
Akaa                                                    1.6
Alajärvi                                                1.9
Alavieska                                               0.6
Alavus                                                  1.1
Asikkala                                                1.6
...                                                     ...
Ylivieska                                               1.2
Ylöjärvi                                                1.2
Ypäjä                                                   1.9
Ähtäri                                                  0.9
Äänekoski                                               1.2

             Proportion of the unemployed among the labour force, %  \
Region 2018
Akaa                                                      14.6
Alajärvi                                                  13.9
Alavieska                                                 10.8
Alavus                                                    11.3
Asikkala                                                  12.0
...                                                        ...
Ylivieska                                                 13.3
Ylöjärvi                                                  11.7
Ypäjä                                                     13.2
Ähtäri                                                    13.0
Äänekoski                                                 19.7

             Proportion of pensioners of the population, %
Region 2018
Akaa                                                  26.1
Alajärvi                                              32.0
Alavieska                                             28.4
Alavus                                                31.5
Asikkala                                              35.5
...                                                    ...
Ylivieska                                             23.1
Ylöjärvi                                              20.3
Ypäjä                                                 31.4
Ähtäri                                                35.1
Äänekoski                                             30.5

[311 rows x 6 columns]

Suggested solution:

In [91]:
import pandas as pd
 
def municipalities_of_finland():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col=0)
    return df["Akaa":"Äänekoski"]
    
def main():
    df=municipalities_of_finland()
    print(df.iloc[0,0])
    print(df.iloc[-1,-1])
    #df=pd.DataFrame()
    print("Shape: {}, {}".format(*df.shape))
    for name in df.columns:
        print(name)
    
if __name__ == "__main__":
    main()

16769
30.5
Shape: 311, 6
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

Exercise 4.5 (swedish and foreigners)

In [96]:
import pandas as pd

def swedish_and_foreigners():
    """Returns only columns about population, proportion of Swedish
    speaking people, and foreigners for municipalities where
    proportion of Swedish speakers and foreigners is above 5%
    """
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018") 
    municipal = df.loc["Akaa":"Äänekoski"]
    subset = municipal[
        (municipal["Share of Swedish-speakers of the population, %"] > 5.0)
        & (municipal["Share of foreign citizens of the population, %"] > 5.0)]
    return subset[[
        "Population",
        "Share of Swedish-speakers of the population, %",
        "Share of foreign citizens of the population, %"]]

def main():
    print(swedish_and_foreigners())

if __name__ == "__main__":
    main()

               Population  Share of Swedish-speakers of the population, %  \
Region 2018
Brändö                452                                            72.6
Eckerö                948                                            89.7
Espoo              279044                                             7.2
Finström             2580                                            89.8
Föglö                 532                                            84.2
Geta                  495                                            86.9
Hammarland           1547                                            89.7
Helsinki           643272                                             5.7
Jomala               4859                                            89.1
Kaskinen             1274                                            29.9
Kirkkonummi         39170                                            16.6
Korsnäs              2154                                            85.8
Kumlinge              314                                            85.4
Kökar                 236                                            87.7
Lapinjärvi           2706                                            31.2
Lemland              2028                                            92.1
Lumparland            395                                            86.6
Mariehamn           11677                                            84.2
Närpiö               9507                                            80.4
Pietarsaari         19379                                            56.2
Saltvik              1873                                            91.9
Sottunga               92                                            93.5
Sund                 1031                                            88.8
Turku              189669                                             5.4
Uusikaarlepyy        7521                                            86.7
Vaasa               67392                                            22.8
Vårdö                 430                                            88.1
Vöyri                6616                                            81.1

               Share of foreign citizens of the population, %
Region 2018
Brändö                                                    8.4
Eckerö                                                   11.5
Espoo                                                    10.5
Finström                                                 10.5
Föglö                                                    17.3
Geta                                                     13.5
Hammarland                                               11.6
Helsinki                                                  9.5
Jomala                                                    8.5
Kaskinen                                                  5.3
Kirkkonummi                                               5.5
Korsnäs                                                   9.1
Kumlinge                                                  8.0
Kökar                                                     8.1
Lapinjärvi                                                5.1
Lemland                                                   8.0
Lumparland                                                9.9
Mariehamn                                                13.0
Närpiö                                                   12.7
Pietarsaari                                               7.1
Saltvik                                                   6.3
Sottunga                                                  5.4
Sund                                                      8.5
Turku                                                     6.5
Uusikaarlepyy                                             6.1
Vaasa                                                     6.0
Vårdö                                                     9.5
Vöyri                                                     5.7

Exercise 4.6 (growing municipalities)

In [107]:
import pandas as pd

def growing_municipalities(df):
    """Gets subset of municipalities as input and returns proportion
    of municipalities with increasing population in that subset
    """
    growing = len(df[df["Population change from the previous year, %"] > 0])
    return (growing / len(df))

def main():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018")
    subset = df.loc["Akaa":"Äänekoski"]
    prop = growing_municipalities(subset)
    print(f"Proportion of growing municipalities: {prop:.1%}")

if __name__ == "__main__":
    main()

Proportion of growing municipalities: 22.8%

Alternative indexing and data selection

In [111]:
df.loc[1, "Wage"]

1500

In [113]:
df.iloc[-1, -1]  # Right lower corner of the DataFrame

29

In [117]:
df.loc[1, ["Name", "Wage"]]

Name    John
Wage    1500
Name: 1, dtype: object

Exercise 4.7 (subsetting with loc)

In [126]:
import pandas as pd

def subsetting_with_loc():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col="Region 2018")
    return df.loc[
        "Akaa":"Äänekoski",
        ["Population",
        "Share of Swedish-speakers of the population, %",
        "Share of foreign citizens of the population, %"]]

def main():
    print(subsetting_with_loc())

if __name__ == "__main__":
    main()

             Population  Share of Swedish-speakers of the population, %  \
Region 2018
Akaa              16769                                             0.2
Alajärvi           9831                                             0.1
Alavieska          2610                                             0.2
Alavus            11713                                             0.1
Asikkala           8248                                             0.2
...                 ...                                             ...
Ylivieska         15251                                             0.3
Ylöjärvi          32878                                             0.3
Ypäjä              2372                                             0.7
Ähtäri             5906                                             0.1
Äänekoski         19144                                             0.1

             Share of foreign citizens of the population, %
Region 2018
Akaa                                                    1.6
Alajärvi                                                1.9
Alavieska                                               0.6
Alavus                                                  1.1
Asikkala                                                1.6
...                                                     ...
Ylivieska                                               1.2
Ylöjärvi                                                1.2
Ypäjä                                                   1.9
Ähtäri                                                  0.9
Äänekoski                                               1.2

[311 rows x 3 columns]

Exercise 4.8 (subsetting by positions)

In [129]:
import pandas as pd

def subsetting_by_positions():
    """Return top 10 entries and only columns Title and Artist"""
    df = pd.read_csv("UK-top40-1964-1-2.tsv", sep="\t")
    return df.iloc[0:10, 2:4]

def main():
    print(subsetting_by_positions())

if __name__ == "__main__":
    main()

                          Title                    Artist
0      I WANT TO HOLD YOUR HAND               THE BEATLES
1                 GLAD ALL OVER       THE DAVE CLARK FIVE
2                 SHE LOVES YOU               THE BEATLES
3          YOU WERE MADE FOR ME  FREDDIE AND THE DREAMERS
4  TWENTY FOUR HOURS FROM TULSA               GENE PITNEY
5    I ONLY WANT TO BE WITH YOU         DUSTY SPRINGFIELD
6                     DOMINIQUE           THE SINGING NUN
7                   MARIA ELENA      LOS INDIOS TABAJARAS
8                   SECRET LOVE               KATHY KIRBY
9             DON'T TALK TO HIM             CLIFF RICHARD

Summary statistics

In [132]:
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")

In [138]:
wh2 = wh.drop(["Year", "m", "d", "Time", "Time zone"], axis=1)  # Taking averages over these is not very interesting
wh2.mean()

Precipitation amount (mm)    1.966301
Snow depth (cm)              0.966480
Air temperature (degC)       6.527123
dtype: float64

In [140]:
wh.describe()

,Year,m,d,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
count,365.0,365.000000,365.000000,365.000000,358.000000,365.000000
mean,2017.0,6.526027,15.720548,1.966301,0.966480,6.527123
std,0.0,3.452584,8.808321,4.858423,3.717472,7.183934
min,2017.0,1.000000,1.000000,-1.000000,-1.000000,-17.800000
25%,2017.0,4.000000,8.000000,-1.000000,-1.000000,1.200000
50%,2017.0,7.000000,16.000000,0.200000,-1.000000,4.800000
75%,2017.0,10.000000,23.000000,2.700000,0.000000,12.900000
max,2017.0,12.000000,31.000000,35.000000,15.000000,19.600000

Exercise 4.9 (snow depth)

In [143]:
import pandas as pd

def snow_depth():
    """Reads in weather DataFrame and returns maximum
    amount of snow in the year 2017
    """
    df = pd.read_csv("kumpula-weather-2017.csv")
    return df["Snow depth (cm)"].max()

def main():
    print(f"Max snow depth: {snow_depth():.1f}")

if __name__ == "__main__":
    main()

Max snow depth: 15.0

Exercise 4.10 (average temperature)

In [156]:
import pandas as pd

def average_temperature():
    """Reads weather data and returns average temperature in July"""
    df = pd.read_csv("kumpula-weather-2017.csv")
    return df.loc[df["m"] == 7, "Air temperature (degC)"].mean()

def main():
    print(f"Average temperature in July: {average_temperature():.1f}")

if __name__ == "__main__":
    main()

Average temperature in July: 16.0

Suggested solution:

In [151]:
import pandas as pd
 
def average_temperature():
    df = pd.read_csv("kumpula-weather-2017.csv", sep=",")
    m = df["m"] == 7
    return df[m]["Air temperature (degC)"].mean()
 
def main():
    t = average_temperature()
    print(f"Average temperature in July: {t:.1f}")
 
if __name__ == "__main__":
    main()

Average temperature in July: 16.0

Exercise 4.11 (below zero)

In [164]:
import pandas as pd

def below_zero():
    """returns number of days temperature was below zero"""
    df = pd.read_csv("kumpula-weather-2017.csv")
    return len(df[df["Air temperature (degC)"] < 0])

def main():
    print(f"Number of days below zero: {below_zero()}")
    
if __name__ == "__main__":
    main()

Number of days below zero: 49

Suggested solution:

In [169]:
import pandas as pd
 
def below_zero():
    df = pd.read_csv("kumpula-weather-2017.csv")
    return sum(df["Air temperature (degC)"] < 0.0)
    # Sums the number of True (1)
 
def main():
    print(f"Number of days below zero: {below_zero()}")
    
if __name__ == "__main__":
    main()

Number of days below zero: 49

Missing data

In [172]:
wh["Snow depth (cm)"].unique()

array([-1.,  7., 13., 10., 12.,  9.,  8.,  5.,  6.,  4.,  3., 15., 14.,
        2., nan,  0.])

In [174]:
pd.Series([1, 3, 2])

0    1
1    3
2    2
dtype: int64

In [176]:
pd.Series([1, 3, 2, np.nan])

0    1.0
1    3.0
2    2.0
3    NaN
dtype: float64

In [178]:
pd.Series(["jack", "joe", None])

0    jack
1     joe
2    None
dtype: object

In [186]:
wh.isnull()  # returns a boolean mask DataFrame

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
360,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False
363,False,False,False,False,False,False,False,False
364,False,False,False,False,False,False,False,False

In [200]:
wh[wh.isnull().any(axis=1)]  # All rows that contain at least one missing value

Empty DataFrame
Columns: [Year, m, d, Time, Time zone, Precipitation amount (mm), Snow depth (cm), Air temperature (degC)]
Index: []

In [192]:
wh.dropna().shape  # Default axis is 0

(358, 8)

In [194]:
wh.dropna(axis=1).shape  # Drops the columns containing missing values

(365, 7)

In [205]:
wh = wh.ffill()
wh[wh.isnull().any(axis=1)]

Empty DataFrame
Columns: [Year, m, d, Time, Time zone, Precipitation amount (mm), Snow depth (cm), Air temperature (degC)]
Index: []

Exercise 4.12 (cyclists)

In [209]:
import pandas as pd

def cyclists():
    """Return cleaned dataset (no empty rows, no columns that
    contain only missing values)
    """
    df = pd.read_csv("Helsingin_pyorailijamaarat.csv", sep=";")

    # Drop empty rows
    df.dropna(how="all", inplace=True)

    # Drop columns only containing missing values
    df.dropna(axis=1, how="all", inplace=True)  

    return df

def main():
    print(cyclists())
    
if __name__ == "__main__":
    main()

                    Päivämäärä  Auroransilta  Eteläesplanadi  \
0        ke 1 tammi 2014 00:00           NaN             7.0
1        ke 1 tammi 2014 01:00           NaN             5.0
2        ke 1 tammi 2014 02:00           NaN             2.0
3        ke 1 tammi 2014 03:00           NaN             5.0
4        ke 1 tammi 2014 04:00           NaN             1.0
...                        ...           ...             ...
37123  ti 27 maalis 2018 19:00          21.0            30.0
37124  ti 27 maalis 2018 20:00          10.0            19.0
37125  ti 27 maalis 2018 21:00           7.0            13.0
37126  ti 27 maalis 2018 22:00           1.0             5.0
37127  ti 27 maalis 2018 23:00           0.0             0.0

       Huopalahti (asema)  Kaisaniemi/Eläintarhanlahti  Kaivokatu  \
0                     NaN                          1.0        NaN
1                     NaN                          3.0        NaN
2                     NaN                          3.0        NaN
3                     NaN                          2.0        NaN
4                     NaN                          4.0        NaN
...                   ...                          ...        ...
37123                18.0                         29.0       51.0
37124                19.0                         12.0       26.0
37125                10.0                          4.0       11.0
37126                 5.0                          6.0        7.0
37127                 0.0                          0.0        4.0

       Kulosaaren silta et.  Kulosaaren silta po.   Kuusisaarentie  \
0                       NaN                    NaN             NaN
1                       NaN                    NaN             NaN
2                       NaN                    NaN             NaN
3                       NaN                    NaN             NaN
4                       NaN                    NaN             NaN
...                     ...                    ...             ...
37123                   0.0                   26.0            31.0
37124                   0.0                   25.0             9.0
37125                   1.0                    4.0            12.0
37126                   0.0                    4.0             1.0
37127                   0.0                    1.0             0.0

       Käpylä, Pohjoisbaana  ...  Merikannontie  \
0                       NaN  ...            NaN
1                       NaN  ...            NaN
2                       NaN  ...            NaN
3                       NaN  ...            NaN
4                       NaN  ...            NaN
...                     ...  ...            ...
37123                  19.0  ...           34.0
37124                  12.0  ...           28.0
37125                   4.0  ...           18.0
37126                   4.0  ...            8.0
37127                   7.0  ...            2.0

       Munkkiniemen silta eteläpuoli  Munkkiniemi silta pohjoispuoli  \
0                                2.0                             5.0
1                                6.0                             5.0
2                                1.0                             1.0
3                                0.0                             2.0
4                                1.0                             1.0
...                              ...                             ...
37123                           31.0                            15.0
37124                           20.0                             8.0
37125                           11.0                             7.0
37126                            5.0                             8.0
37127                            1.0                             2.0

       Heperian puisto/Ooppera  Pitkäsilta itäpuoli  Pitkäsilta länsipuoli  \
0                          3.0                  NaN                   11.0
1                          1.0                  NaN                    8.0
2                          1.0                  NaN                   14.0
3                          0.0                  NaN                    7.0
4                          1.0                  NaN                    9.0
...                        ...                  ...                    ...
37123                     68.0                 39.0                   20.0
37124                     38.0                 24.0                   10.0
37125                     32.0                 25.0                   14.0
37126                      8.0                  8.0                    3.0
37127                      5.0                  6.0                    3.0

       Lauttasaaren silta pohjoispuoli  Ratapihantie  Viikintie  Baana
0                                  NaN           NaN        NaN    8.0
1                                  NaN           NaN        NaN    4.0
2                                  NaN           NaN        NaN   11.0
3                                  NaN           NaN        NaN    3.0
4                                  NaN           NaN        NaN    4.0
...                                ...           ...        ...    ...
37123                             22.0          28.0       12.0   55.0
37124                             21.0          19.0        6.0   43.0
37125                             11.0          17.0        2.0   27.0
37126                              2.0          11.0        0.0   10.0
37127                              2.0           0.0        0.0    4.0

[37128 rows x 21 columns]

Exercise 4.13 (missing value types)

In [212]:
import pandas as pd
import numpy as np

def missing_value_types():
    state = ["United Kingdom", "Finland", "USA", "Sweden", "Germany", "Russia"]
    year = [np.nan, 1917, 1776, 1523, np.nan, 1992]
    president = [None, "Niinistö", "Trump", None, "Steinmeier", "Putin"]
    df = pd.DataFrame(
        {"State": state,
        "Year of independence": year,
        "President": president},
    )
    return df.set_index("State")
               
def main():
    print(missing_value_types().dtypes)
    print(missing_value_types())

if __name__ == "__main__":
    main()

Year of independence    float64
President                object
dtype: object
                Year of independence   President
State
United Kingdom                   NaN        None
Finland                       1917.0    Niinistö
USA                           1776.0       Trump
Sweden                        1523.0        None
Germany                          NaN  Steinmeier
Russia                        1992.0       Putin

Exercise 4.14 (special missing values)